/*

Template 2082 Pure Mix

http://www.tooplate.com/view/2082-pure-mix

*/

/* Body 
------------------------------------- */
body {
    background: #ffffff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    position: relative;
    line-height: 1;

}

*,
*:before,
*:after {
    box-sizing: inherit;
    box-sizing: border-box;
}

.global {
    margin: 2rem 4rem;
    border: 1px solid black;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}


/* Typography
------------------------------------- */

h1,
h2,
h3,
h4 {
    font-weight: 400;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

h1 {
    color: #000;
    font-size: 1.8rem;
    font-weight: 700;
}

h2 {
    color: #ffffff;
    font-size: 1rem;
}

h3 {
    color: #444;
    font-size: 14px;
    letter-spacing: 4px;
}

h5 {
    font-weight: 400;
    letter-spacing: 1px;
}

p {
    color: #777;
    font-size: 16px;
    line-height: 28px;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin: 0;
}

a {
    outline: none;
    text-decoration: none;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

img {
    width: 100%;
    max-width: 100%;
}


/* preloader styles
/* ========================================== */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #fff;
}

.sk-spinner-pulse {
    width: 60px;
    height: 60px;
    background-color: #111112;
    border-radius: 100%;
    -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
    animation: sk-pulseScaleOut 1s infinite ease-in-out;
}

@-webkit-keyframes sk-pulseScaleOut {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes sk-pulseScaleOut {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}



/* navigation styles
/* ========================================== */

.nav-container,
nav {
    overflow: visible;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;

}

nav {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

nav a {
    color: #333333;
}

.navbar-right {
    margin-right: 0;
}

.navbar {
    margin: 0;
    border-radius: 0;
    background-color: white;
    overflow: hidden;
    flex-wrap: wrap;
    z-index: 5;
    /*
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
*/
    border: none;
/*    border-bottom: 1px solid black;*/
}

.brand {
    float: left;
    padding: 0 0 0 3rem;
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    flex-grow: 1;
/*    height: 100%;*/
    color: black;
/*    height: 5rem;*/
    display: flex;
    align-items: center;
    font-family: 'EB Garamond';
    border-bottom: 1px solid black;
}

.bb {
    border-bottom: 1px solid black;
}

.brand a {
    color: black;
    font-size: 24px;
    font-weight: 300;
    opacity: 1;
    text-decoration: none;
}

.navicon {
    position: relative;
    right: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*  -webkit-justify-content: stretch;*/
    -ms-flex-pack: end;
    /*  justify-content: stretch;*/
    width: 20%;
}

.nav {
    display: flex;
    flex-shrink: 0;
    flex-basis: 20%;
    width: 100%;
}

.menu-container {
    width: 100%;
}

nav ul {
    display: inline-block;
}

nav ul.right {
    float: right;
    right: 0
}

#nav-menu a {
    font-weight: 300;
    font-size: 26px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

#nav-menu li {
    list-style: none;
    padding: 6px;
}

.nav-text-light a {
    color: #ffffff;
}

.sticky .nav-text-light a {
    color: #555555;
}

.sticky nav.nav-inner .navbar {
    height: 70px;
    max-height: 70px;
    margin: 0;
    background: #ffffff;
}

.sticky nav.transparent .navbar {
    background: transparent;
}

.packages-main {
    display: flex;
    flex-flow: row wrap;
}

@media all and (max-width: 1200px) {
    .packages-main {
        flex-direction: column;
    }

    .pack-button {
        display: inline-block !important;
    }

    .packages {
        margin: 1rem 2rem !important;
    }
}

@media all and (max-width: 990px) {
    .nav-text-light a {
        color: #555555;
    }

    .nav-inner {
        background: #ffffff;
    }

    .transparent {
        background: transparent;
    }

    .navicon {
        padding-right: 10px;
    }

    nav ul.right {
        float: left;
    }

}

a.icon {
    font-size: 32px;
    padding-right: 20px;
}

.icon .ion-navicon {
    line-height: inherit !important;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid black;
}

.intro-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.close {
    font-family: inherit;
    font-size: 32px;
    font-weight: 300;
    text-shadow: none;
}

.close:focus {
    outline: 0px auto -webkit-focus-ring-color;
}

.circle {
    width: 45px;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: pointer;
    z-index: 99;
}

.circle i {
    font-size: 36px;
    color: #111112;
}

.circle.dark {
    border-color: #292929;
}

.circle.dark:before {
    border-color: transparent transparent transparent #292929;
}

.circle.large {
    height: 120px;
    width: 120px;
    margin-top: -60px;
    margin-left: -60px;
}

.circle.large:before {
    margin-top: -18px;
    margin-left: -10px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 31.0px;
    border-color: transparent transparent transparent #ffffff;
}

.circle.large.dark:before {
    border-color: transparent transparent transparent #292929;
}

.circle.inline {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    display: inline-block;
    z-index: 0;
}

@media all and (max-width: 767px) {
    .circle.large {
        width: 90px;
        height: 90px;
        margin-top: -45px;
    }

    .circle.large:before {
        margin-top: -14px;
        margin-left: -8px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 0 15px 25.0px;
        border-color: transparent transparent transparent #fff;
    }
}

.list-menu {
    position: fixed;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    opacity: 0;
}

.list-menu.reveal-modal {
    opacity: 1;
    z-index: 999999;
    visibility: visible;
}

.list-menu .ion-close-round {
    font-size: 31px;
    position: absolute;
    top: 32px;
    right: 32px;
    color: #fff;
    cursor: pointer;
}

/* header section styles
/* ========================================== */
#header {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 100px;
}

#header .header-thumb {
    background: #ffffff;
    border: 10px solid #f9f9f9;
    padding: 62px 20px 62px 20px;
}

.header-one .header-thumb,
.header-two .header-thumb,
.header-three .header-thumb,
.header-four .header-thumb,
.header-five .header-thumb {
    padding: 32px 20px 32px 20px !important;
}

.header-one,
.header-two,
.header-three,
.header-four,
.header-five {
    height: 42vh !important;
    min-height: 420px;
    padding-top: 120px !important;
}

.header-one {
    background: url('../images/header-bg.jpg') no-repeat;
    height: 60vh !important;
    min-height: 520px;
    padding-top: 150px !important;
}

.header-two {
    background: url('../images/header-bg.jpg') no-repeat;
}

.header-three {
    background: url('../images/header-three-bg.jpg') no-repeat;
}

.header-four {
    background: url('../images/header-four-bg.jpg') no-repeat;
}

.header-five {
    background: url('../images/header-five-bg.jpg') no-repeat;
}

/* Portfolio section styles
/* ========================================== */
#portfolio {
    text-align: center;
}

#portfolio img {
    width: 100%;
}

#portfolio .portfolio-thumb {
    position: relative;
    overflow: hidden;
    margin: 0;
}

.portfolio-thumb img {
    /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
    transition: all 0.4s ease-in-out;
    transition-delay: 0s;
}

.portfolio-thumb img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

#portfolio .portfolio-thumb .portfolio-overlay {
    background: #141414;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
    opacity: 0.9;
}

#portfolio .portfolio-thumb .portfolio-overlay .portfolio-item {
    text-align: center;
    padding: 30% 20px 20px;
}

#portfolio .portfolio-thumb .portfolio-overlay .fa {
    background: #f9f9f9;
    border-radius: 100px;
    color: #141414;
    font-size: 1.3rem;
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 4px;
}

/*filter css*/
.filter-wrapper {
    width: calc(100% + 30px);
    margin: 0 0 35px -15px;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid black;
}

ul.filter-wrapper{
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
}

.filter-wrapper li {
    display: inline-block;
    margin: 0 !important;
    height: 100%;
    width: 100%;
}

.filter-wrapper li a {
    color: #666;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 2rem 1rem;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
.filter-wrapper li:not(:last-child) a {
    border-right: 1px solid black;
}

.filter-wrapper li a:active {
    background: #111112 !important;
}

.filter-wrapper li a:hover,
.filter-wrapper li a:focus {
    background: #111112;
    color: #ffffff;
}

/*isotope box css*/
.iso-box-section {
    width: 100%;

}

.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
    left: 0.4rem;
}

.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    padding-bottom: 35px;
}

@media (max-width: 767px) {
.col-sm-6 {
    width: 50%;
}
}

.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fluid-img {
    width: 100%;
    display: block;
}

/* single project section styles
/* ========================================== */
#single-project {
    padding-top: 4rem;
    padding-bottom: 6rem;
}

#single-project .project-info {
    padding-bottom: 10px;
}

#single-project img {
    padding-top: 14px;
}

/* about section styles
/* ========================================== */
#about {
    padding-top: 5rem;
    padding-bottom: 8rem;
}

#about .col-md-4 {
    padding-top: 16px;
    padding-bottom: 32px;
}

#about img {
    padding-bottom: 20px;
}

#about blockquote {
    letter-spacing: 2px;
    margin-top: 20px;
}

/* blog & single post section styles
/* ========================================== */
#blog,
#single-post {
    padding-top: 4rem;
    padding-bottom: 6rem;
}

#blog .blog-thumb {
    padding-top: 60px;
    padding-bottom: 40px;
}

#blog .post-format,
#single-post .post-format {
    padding-bottom: 10px;
}

#blog .post-format span,
#single-post .post-format span {
    color: #888;
    font-weight: 400;
    letter-spacing: 1px;
    padding-right: 10px;
}

#blog .blog-thumb .btn {
    border-radius: 0px;
    padding: 10px 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 22px;
    transition: all 0.4s ease-in-out;
}

#blog .blog-thumb .btn:hover {
    background: #111112;
    border-color: transparent;
    color: #ffffff;
}

#single-post blockquote {
    margin-top: 32px;
    letter-spacing: 2px;
}

.post-image {
    margin: 25px 0px;
}

#single-post .blog-comment,
#single-post .blog-comment-form {
    margin-top: 62px;
}

#single-post .blog-comment h3,
#single-post .blog-comment-form h3 {
    padding-bottom: 20px;
}

#single-post .blog-comment .media {
    padding-bottom: 22px;
}

#single-post .blog-comment .media img {
    padding-right: 14px;
}

#single-post .blog-comment h4 {
    font-weight: 700;
}

#single-post .blog-comment-form .form-control {
    background: transparent;
    border: 1px solid #eee;
    border-radius: 0px;
    box-shadow: none;
    font-size: 16px;
    margin-bottom: 16px;
    transition: all 0.4s ease-in-out;
}

#single-post .blog-comment-form input[type="submit"] {
    background: #111112;
    border-color: transparent;
    color: #ffffff;
    height: 50px;
}


/* contact section styles
/* ========================================== */
#contact {
}

#contact .fa {
    font-size: 32px;
    padding-right: 10px;
}

#contact #map-canvas {
    border: none;
    width: 100%;
    height: 300px;
    margin-top: 40px;
}

#contact .contact-form {
    
    max-width: 65rem;
    margin: 4rem auto 0 auto;
}

#contact .form-control {
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(179, 179, 179);
    border-radius: 0px;
    box-shadow: none;
    font-size: 16px;
    margin-bottom: 16px;
    transition: all 0.4s ease-in-out;
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height:auto;
    }

#contact .form-control:hover {
    border-color: #f0f0f0;
}

#contact textarea {
    min-height: 100px;
}

#contact input {
    height: 50px;
}

#contact input[type='submit'] {
    background: #111112;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: all 0.4s ease-in-out;
    margin-top: 10px;
}

#contact input[type='submit']:hover {
    background: #444;
}

.contact-submit {
    /*	width: 50%;*/
}

#contact .col-md-4 {
    background: #fff;
    padding: 62px 0px 32px 42px;
    position: relative;
    bottom: -50px;
}



/* footer section styles
/* ========================================== */
footer {
    padding: 1rem 3rem;
    border-top: 1px solid black;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    align-items: center;
}

footer ul {
    text-align: end;
}

footer p {
    text-align: start;
}


/* social icon */
.social-icon {
    padding: 0;
    margin: 0;
}

.social-icon li {
    list-style: none;
    display: inline-block;
}

.social-icon li a {
    color: #909090;
    font-size: 18px;
    width: 50px;
    height: auto;
    line-height: 48px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    padding: 0px;
    position: relative;
    top: 0px;
}

.social-icon li a:hover {
    background: #ffffff;
}

/* Responsive Mobile styles
/* ========================================== */
@media (max-width: 980px) {

    .intro-inner {
        top: 30%;
    }

    #contact .col-md-4 {
        padding: 62px 20px 42px 32px;
    }

    #contact .col-md-4 p {
        font-size: 12px;
    }

    #contact #map-canvas {
        margin-bottom: 60px;
    }
}



@media (min-width: 768px) {

    .navbar-nav > li > a {
        padding: 2rem 1rem !important;
        border-left: 1px solid black !important;
        text-align: center;
    }
    
}

.navbar-nav > li {
    flex-basis: 100%;
    width: 100%;
    justify-content: center;
}

@media (max-width: 768px) {

    .brand {
        padding-left: 24px;
    }

    .header-one,
    .header-two,
    .header-three,
    .header-four,
    .header-five {
        min-height: 380px;
        padding-top: 80px !important;
    }

    #about .col-md-4,
    #single-project .col-md-3 {
        padding-bottom: 32px;
    }

}


@media (max-width: 700px) {

    footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    footer ul {
        text-align: center;
    }

    footer p {
        text-align: center;
    }

    .global {
        margin: 0 !important;
        /*        border: 0;*/
    }

    .sticky {
        margin: 0 !important;
    }

    h1 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 13px;
        letter-spacing: 3px;
    }

    .filter-wrapper {
        padding: 0px;
    }

    #contact {
        padding-bottom: 4rem;
    }

    #contact .col-md-4 {
        padding: 32px 20px 22px 62px;
    }

    .contact-submit {
        width: 70%;
    }

}

@media (max-width: 450px) {
    .intro-inner {
        top: 50%;
    }
}



/*navigation*/
@media (max-width: 800px) {
    .navbar-nav {
        display: none;
    }

    .global {
        margin: 0 4rem;
    }

    .nav {
        flex-basis: 0 !important;
    }
    .main-copyr p {
        font-size: 2.8rem !important;
    }
    p.m2 {
        font-size: 2rem !important;
    }
}

.mobile-nav {
    padding: 0;
    align-self: flex-end;
}



@media (min-width: 992px) {
.iso-box-wrapper {
    /* left: 0.4rem; */
}
}

@media (min-width: 799px) {
    .mobile-nav {
        display: none !important;
    }

    .condouble {
        width: 48%; 
        float:left;
    }
    .condouble:first-child {
        margin-right: 2rem;
        box-sizing: content-box;
    }
    
}

/*header*/
.wrapperr {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5625rem;
    font-weight: 500;
    letter-spacing: normal;
    color: #0f141e;
    box-sizing: border-box;
    font-variant-ligatures: none;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    padding: 0 40px;
    max-width: 1170px;
    margin: 0 auto 0 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    height: calc(100vh - 94px);
    display: flex;
}

.navbar {
    margin: 0;
    align-items: stretch;
    display: flex;
/*    min-height: 0;*/
}

.sticky {
    position: fixed;
    flex-basis: 100%;
    top: 0;
    left: 0;
    right: 0;
    flex: 1 0 auto;
    margin: 0 4rem;
    border: 1px solid black;
    /*    width: 100%;*/
    border-bottom: none;
}

.rowr {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5625rem;
    font-weight: 500;
    align-self: flex-end;
    letter-spacing: normal;
    color: #0f141e;
    box-sizing: border-box;
    font-variant-ligatures: none;
    -webkit-font-smoothing: antialiased;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 5vh;
}

.row {
    margin: 0;
}

.main-copyr {
    padding: 10rem 3rem;
    text-align: center;
}

.main-copyr p {
    max-width: 65rem;
    margin: auto;
    font-weight: 200;
    font-family: 'Exo 2';
    line-height: 4.5rem;
    color: black;
    font-style: italic;
    font-size: 4rem;
}
.main-copyr-about p.header-lightr {
    max-width: 80rem;
    margin: auto;
    font-weight: 200;
    font-family: 'Exo 2';
    line-height: 4.5rem;
    color: black;
    font-style: italic;
    font-size: 1.9rem;
    text-align: left;
}

.m2 {
     font-size: 2.5rem !important;
}

.larger {
    font-style: normal;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    font-variant-ligatures: none;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-weight: 800;
    letter-spacing: 0.04em;
    color: #0f141e;
    margin-top: 15px;
    font-size: 3rem;
    line-height: 3.5rem;
    padding-top: 1px;
    padding-bottom: 4px;
    animation: animation-2nd .8s linear;
    white-space: nowrap;
}

.header-lightr {}

.linksr {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5625rem;
    font-weight: 500;
    letter-spacing: normal;
    color: #0f141e;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    font-variant-ligatures: none;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    animation: animation-4th 1.2s linear;
    white-space: nowrap;

    justify-content: space-between;
}

.specialr {
    font-style: normal;
    -webkit-box-direction: normal;
    font-weight: 800;
    letter-spacing: normal;
    font-size: 1.125rem;
    box-sizing: border-box;
    font-variant-ligatures: none;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    text-decoration: none;
    transition: all .2s cubic-bezier(.3, 0, .5, 1);
    position: relative;
    color: #0f141e;
    border: 0 none;
    display: inline-block;
    line-height: 1;
}

@media (max-width: 799px) {
    .linksr {
        flex-direction: column;
    }

    .linksr span {
        display: none;
    }

    .larger {
        /*white-space: pre-wrap;*/
        font-size: 2rem;
        line-height: 2.5rem;
        padding-top: 2px;
        padding-bottom: 3px;
        margin-top: 0;
        animation: animation-2nd .8s linear;
        white-space: normal;
    }

}

#overlay {
    background: url("../images/overlay.png") repeat scroll left top;
    height: 100vh;
    min-height: 700px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.smoothScroll {
    color: black;
    font-size: 1.1em;
}

.text-secondary {
    margin-bottom: 0px;
    
}

.serx {
    padding: 4rem 3rem;
    flex: 1 0 33%;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid black;
}

.serx4 {
    flex: 1 0 25%;
}

@media (min-width: 1201px) {
    .serx:not(:nth-child(3n)):not(:last-child) {
        border-right: 1px solid black;
    }
}

@media (max-width: 1200px) {
    .serx {
        flex: 1 0 50%;
    }

    .serx:not(:nth-child(2n)):not(:last-child) {
        border-right: 1px solid black;
    }
}

@media (max-width: 900px) {
    .serx {
        flex: 1 0 100%;
    }

    .serx4 {
        flex: 1 0 50%;
    }

    .serx:not(:nth-child(2n)):not(:last-child) {
        border-right: none;
    }

    .serx4:not(:nth-child(2n)):not(:last-child) {
        border-right: 1px solid black;
    }

    .serx4 {
        flex: 1 0 50%;
    }
}

@media (max-width: 550px) {
    .serx4 {
        flex: 1 0 100%;
    }
    .serx4:not(:nth-child(2n)):not(:last-child) {
        border-right: none;
    }
}


.packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
    border: 1px solid #000;
    flex: 1 0 calc(33% - 2rem);
}

.packages ul {
    list-style-type: circle;
    align-self: flex-start;
    font-size: 14px;
    margin-bottom: 1.1rem;
}

.pack-button {
    margin: 1rem 0.5rem 0 0.5rem;
    padding: 8px 17px;
    display: none;
    background-color: #000;
    color: #fff;
    text-align: center;
    width: 100%;
}

break {
    flex-basis: 100%;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.services {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    height: 100%;
    align-items: stretch;
}

.colser {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.scrolll {
    animation: floatText 6s linear infinite;
    margin: 0;
    font-size: 3em;
    font-weight: 300;
    padding-left: 100%;
    /*    writing-mode: vertical-rl; */
    display: inline-block;
    /*    position: absolute;*/
    white-space: nowrap;
    /*    align-self: stretch;*/
}

@keyframes floatText {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}
}

.scrolll:hover .scrolll,
.divscrolll:hover .scrolll,
.colser:hover .scrolll {
    animation-play-state: paused;
    cursor: pointer;
}

.divscrolll {
    /*    margin: -2rem 0;  */
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
}






.slider {
    width: calc(100% - 1px);
    overflow: hidden;
    position: relative;
    margin: 0;
}

.edge {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    height: 100%;
    display: block;
}

.edge:before {
    content: '';
    position: absolute;
    left: 0;
/*        background:-webkit-linear-gradient(left, white 10%, rgba(0,0,0,0) 100%);*/
    width: 25%;
    height: 100%;
}

.edge:after {
    content: '';
    position: absolute;
    right: 0;
/*        background:-webkit-linear-gradient(right, white 10%, rgba(0,0,0,0) 100%);*/
    width: 25%;
    height: 100%;
}

.slider ul {
    background: #fff;
    overflow: hidden;
    width: 1000%;
    white-space: nowrap;
    margin: 0;
    
}

.slider li {
    list-style: none;
    font-size: 5rem;
    display: inline-block;
    padding: 0 50px;
}

.mt-35 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*    justify-content: space-between;*/
    align-self: center;
}

#fixedbutton {
    position: fixed;
    bottom: 0px;
    right: 0px; 
}

.imger {
    border-bottom: 1px solid black; 
    padding: 0; 
    margin: 0; 
    overflow: hidden;
}

.imger div {
    clip-path: polygon(3rem 3rem, calc(100% - 3rem) 3rem, calc(100% - 3rem) calc(100% - 3rem), 3rem calc(100% - 3rem));
    height: 100%;
    overflow: hidden;
    max-height: 50rem;
}
.imger div {
    object-fit: cover;
    object-position: center;
}

.bg {
    background: linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ), url("https://picsum.photos/1920/1080") no-repeat fixed center; 
/*    overflow: hidden;*/
    clip-path: polygon(3rem 3rem, calc(100% - 3rem) 3rem, calc(100% - 3rem) calc(100% - 3rem), 3rem calc(100% - 3rem));
     
}
.bg p {color: white;}


/*mobile menu
*/



.topnav {
  overflow: hidden;
    width: 100vw;
    flex: 1 0 100%;
  background-color: #fff;
  display: none;
    z-index: 6;
}

.topnav a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
    border-bottom: 1px solid black;
  font-size: 1.5em;
}

.active a {
/*
  background-color: #4CAF50;
  color: white;
*/
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media (max-width: 800px) {
.topnav.responsive {
    position: relative;
    display: block;
    right: 0;
    top: 0;
  }
}
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .work-services {
    display: grid;
    grid-template-columns: repeat(3, minmax(33%, 1fr));
    align-items: center;
    text-align: left;
    max-width: 80rem;
    margin: 0 auto;
    
  }

  .bind-empty {
    display: none !important;
  }

  .pin {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    margin-bottom: 0;
    border-radius: 20px;
    background-color: #000;
  }

  .align-right {
    align-self: end;
    justify-self: end;
  }